/* src/styles/form.css */
.form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto;
}

.form-container input {
  margin: 5px 0;
  padding: 10px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.capsule-list {
  margin: 20px auto;
  padding: 10px;
}

.capsule-item {
  margin: 10px 0;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.capsule-item img {
  max-width: 100px;
  height: auto;
}
